.firebase-emulator-warning {
  display: none;
}

:root {
  --nav-color: #ffbe0b;
  --nav-color: #3a86f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: black;
  color: whitesmoke;
  height: -webkit-fill-available;
}

html,
body,
div#__next,
div#__app,
div.App {
  height: 100vh;
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: inherit;
}

div.App {
  display: flex;
  flex-direction: column;
}

div.App .View {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.View > header:first-child {
  margin-bottom: 1rem;
  padding: 8px 12px 0 14px;
}

.View h1,
.View h2 {
  text-align: right;
  word-break: break-word;
  user-select: none;
}

.View h1 {
  font-size: 1.8rem;
  line-height: 1.1;
  color: #666;
}

.View h2 {
  text-align: right;
  font-size: 3.4rem;
  line-height: 1;
}

.View h3 {
  font-size: 1.8rem;
}

div.month {
  margin-bottom: 1em;
}

div.month h3 {
  margin-bottom: 6px;
}

div.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

div.day-receiver-grid-item {
  width: 100%;
  position: relative;
  padding-top: 100%;
}

div.day-receiver-grid-item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

div.day-receiver-grid-item div.svg-clip-container {
  clip-path: circle(47.5%);
  transform-origin: center;
}

div.day-receiver-grid-item svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotateZ(180deg);
}

div.day-receiver-grid-item p {
  color: #666;
  font-size: 8px;
  transform: translateX(-4px);
}

div.day-receiver-grid-item svg.empty {
  fill: rgb(32, 32, 32);
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 4%;
  padding-top: 12px;
  border-top: 1px solid var(--nav-color);
}

nav div.icon-link {
  width: 100%;
  background-color: black;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--nav-color);
}

nav div.icon-link:last-child {
  border-right: none;
}

nav a,
nav svg {
  display: block;
}

nav a {
  width: 90%;
  margin: 0 auto;
}

nav svg {
  width: 32px;
  height: 32px;
  stroke: var(--nav-color);
  fill: var(--nav-color);
  margin: 0 auto;
}

#Settings {
  --padding-sides: 16px;
  --spacing: 4px;
}

.board-selector header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacing);
  border-bottom: 1px solid whitesmoke;
  padding: var(--spacing) var(--padding-sides);
  padding-left: calc(var(--padding-sides) * 0.75);
}

div.board-selector {
  margin-bottom: 10vh;
}

div.board-selector h3 {
  font-weight: 500;
}

.board-option {
  --edit-button-width: 36px;
  padding: 0 var(--padding-sides);
  padding-right: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  margin: 4px 0;
}

.board-option label {
  position: relative;
  z-index: 2;
  background-color: black;
  transition: transform 0.2s ease-in-out;
  padding: 2px 0;
  padding-right: var(--padding-sides);
}

.board-option .icon-container {
  background-color: rgb(255, 135, 0);
  /* transition: transform 0.8s;
  transform-origin: right; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--edit-button-width);
  position: absolute;
  /* height: 100%; */
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 2px 0;
}

.board-option.add {
  text-align: center;
  justify-content: center;
  margin-left: -1ch;
  margin-top: 3vh;
}

.board-option.add:first-child {
  margin-top: 0;
}

.board-option.editing label {
  transform: translateX(calc(var(--edit-button-width) * -1));
}

.board-option .icon-container svg {
  display: block;
}

.board-option:first-child {
  padding-top: 0;
}

div.board-option .title {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

div.board-option .symbols {
  font-size: 1.1em;
  text-align: right;
  max-width: 50%;
}

.board-option label,
#add-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

div.board-select {
  margin: 8px 0;
}

.board-option.selected {
  color: var(--nav-color);
  font-weight: bold;
}

#add-board,
#sign-out {
  -webkit-appearance: none;
  color: inherit;
  border: none;
  background: none;
  display: block;
}

#add-board {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  margin-top: 6px;
}

#sign-out {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: var(--padding-sides);
}

#edit-boards {
  width: 100%;
  padding-top: 10px;
}

#Vote {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

#Vote .absolute-grid {
  display: grid;
  grid-template-areas: "all";
  flex-grow: 1;
  /* overflow-y: hidden; */
  /* padding-bottom: 10vh; */
}

#Vote .button-array-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: all;
  z-index: 2;
  /* overflow-y: auto; */
  /* border: 1px solid red; */
}

#Vote .button-array {
  /* flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-auto-rows: min-content;
  /* padding-bottom: 10vh; */
  overflow-y: auto;
}

#Vote .button-container {
  margin: 0 3vw;
  min-width: 25%;
  display: flex;
  justify-content: center;
  transform-origin: center;
}

#Vote .button-container:nth-child(3n - 2) {
  justify-content: flex-end;
}

#Vote .button-container:nth-child(3n - 2):last-child {
  justify-content: center;
  grid-column: span 3;
}

#Vote .button-container:first-child:last-child {
  justify-content: center;
}

#Vote .button-container:nth-child(2):last-child {
  justify-content: flex-start;
}

#Vote .button-container:nth-child(3n) {
  justify-content: flex-start;
}

#Vote .button-array button {
  font-size: 20vw;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#Vote .button-array button:active {
  background-color: none;
}

#Vote .today-vote-graph {
  flex-grow: 1;
  grid-area: all;
  display: flex;
  flex-direction: column;
}

.today-vote-graph svg {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateZ(180deg);
}

#Calendar h3 {
  text-align: right;
}

#Calendar {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

#Calendar #calendar-scroll {
  flex-grow: 1;
  overflow-y: auto;
}

#Calendar .month:last-child {
  margin-bottom: 64px;
}

#Calendar > *:not(header) {
  padding: 0 12px 0 14px;
}

#Calendar .legend {
  display: flex;
  width: 100%;
  padding: 8px 6px 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#Calendar .symbol-color-pair {
  display: flex;
  font-size: 28px;
  align-items: center;
  line-height: 1;
  position: relative;
  padding: 0 4px;
}

#Calendar > .legend .symbol-color-pair {
  border-right: 0.5px solid #666;
  flex-basis: 18%;
  flex-grow: 1;
  max-width: 20%;
}

#Calendar .modal-page-overlay .legend .symbol-color-pair {
  flex-basis: 30%;
  max-width: 33%;
}

#Calendar > .legend .symbol-color-pair:nth-child(5n) {
  border-right: none;
  padding-right: 0;
}

#Calendar > .legend .symbol-color-pair:last-child {
  border-right: none;
}

#Calendar > .legend .symbol-color-pair:nth-child(n + 6) {
  margin-top: 4px;
}

#Calendar > .legend .symbol-color-pair:nth-child(n + 6):last-child {
  margin-right: auto;
}

#Calendar > .legend .symbol-color-pair span {
  margin-left: auto;
}

.symbol-color-pair svg {
  height: 34px;
  width: 34px;
  /* width: 100%; */
  /* max-width: 34px; */
}

#Calendar header {
  margin-bottom: 0;
}

#Calendar {
  position: relative;
}

.modal-page-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  color: white;
  z-index: 99;
  background-color: rgba(15, 15, 15, 0.95);
  backdrop-filter: grayscale(1) blur(10px);
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  /* padding-top: 10vh; */
}

.modal-content {
  width: 100%;
  padding: 10% 7.5% 0;
  margin: 0 auto 2.5%;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  z-index: 100;
  overflow-y: auto;
}

.day-overlay-page {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  color: white;
  z-index: 99;
  background-color: rgba(15, 15, 15, 0.95);
  backdrop-filter: grayscale(1) blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dismiss-modal {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  z-index: 999;
}

.day-overlay-modal {
  width: 100%;
  padding: 0 7.5%;
  margin: 0 auto;
  min-height: 70%;
  max-height: 85%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.day-overlay-data {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

.day-overlay-data > * {
  flex-grow: 0;
}

.day-overlay-data .symbols-colors-counts {
  overflow-y: auto;
}

h4.day-overlay-date {
  text-align: center;
  margin-bottom: 0.8em;
  /* margin-right: 0.175ch; */
  font-size: 1.8em;
  font-weight: 400;
}

.day-overlay-svg-container {
  width: 220px;
  margin: 0 auto;
}

.total-reports-intro-text {
  text-align: left;
  margin: 0.6em 0;
  font-weight: 300;
  color: rgb(140, 140, 140);
}

.modal-content .symbols-colors-counts {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-auto-rows: min-content;
  font-size: 24px;
  align-items: center;
}

.modal-content .day-receiver-grid-item p {
  display: none;
  visibility: hidden;
}

.symbols-colors-counts p {
  font-weight: 300;
  text-align: left;
  margin-bottom: 5px;
  padding-right: 14px;
  border-right: 0.5px solid #666;
  margin-right: 8px;
  margin-left: 2px;
}

#Calendar .modal-content .symbol-color-pair {
  margin-bottom: 4px;
  /* grid-column-start: 1; */
  display: flex;
  text-align: center;
  align-items: center;
}

#Calendar .modal-content p:last-child {
  border-right: none;
}

#Calendar .modal-content p:nth-child(4n) {
  border-right: none;
  padding-right: 0;
}

#Calendar .modal-content .symbol-color-pair svg {
  margin-left: auto;
}

.edit-board-form header {
  margin-bottom: 12px;
}

.modal-content.edit-board h4,
.modal-content.create-board h4 {
  text-align: center;
  font-size: 1.3rem;
  /* font-weight: 600; */
  color: #666;
  line-height: 1.2;
}

.modal-content.create-board h4 {
  color: whitesmoke;
}

.edit-board-form header button {
  font-weight: 400;
  font-size: 1rem;
}

.modal-content.edit-board h4 span {
  /* font-weight: 700; */
  color: whitesmoke;
}

.modal-content.edit-board .emoji-color-input-container {
  --emoji-size: 26px;
  --input-width: 32px;
  display: flex;
  align-items: center;
  padding: 2px 0;
  font-size: 16px;
  margin-bottom: 1vh;
}

.modal-content.edit-board .emoji-color-input-container:last-child {
  margin-bottom: 0;
}

.emoji-color-input-container div:first-child {
  margin-right: 5vw;
}

.emoji-color-input-container > * {
  display: flex;
  align-items: center;
  font-size: inherit;
}

.emoji-color-input-container .emoji {
  font-size: var(--emoji-size);
}

.emoji-picker label {
  margin-right: 4px;
}

.emoji-picker .emoji-input {
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  /* border: 1px solid white; */
  font-size: var(--emoji-size);
  width: calc(var(--input-width) * 1.25);
  padding: 0.1em;
  line-height: 1;
  color: whitesmoke;
}

.color-picker {
  display: flex;
  align-items: center;
}

.color-picker label {
  margin-right: 6px;
}

.color-picker-bg {
  height: var(--input-width);
  width: var(--input-width);
  position: relative;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}

.color-picker-bg > * {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color-picker-bg input.color-picker {
  opacity: 0;
  font-size: 16px;
}

.edit-board-form button {
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 400;
}

.edit-board-form .add-row {
  font-size: inherit;
  width: 70%;
  margin: 12px auto;
  display: block;
}

.edit-board-form button.edit-cancel {
  color: rgb(150, 0, 0);
  font-weight: 600;
  display: block;
}

.edit-board-form .emoji-color-pairs {
  max-height: 20vh;
  overflow-y: auto;
}

.emoji-color-input-container .emoji {
  margin-left: 8px;
}

.edit-board-form .emoji-color-pairs label {
  margin-right: 8px;
}

.edit-board-form input[name="formBinary"] {
  margin-left: 6px;
}

.edit-board-form .confirmation-options {
  justify-content: space-around;
  margin: 4vh 0;
}

.edit-board button[name="delete"] {
  font-size: 1.1em;
  font-weight: 600;
  border-bottom: 2px solid rgb(150, 0, 0);
}

.edit-board-form fieldset {
  padding: 6px 16px 16px;
  margin-bottom: 12px;
  border: 0.5px solid #666;
  border-radius: 0 12px 12px 12px;
}

.edit-board-form legend {
  margin-left: -8px;
  padding: 0 8px;
}

.create-board form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 6vh auto;
  max-width: 90%;
  font-size: 1.3rem;
}

.create-board form label {
  font-weight: 500;
  margin-bottom: 0.5em;
}
.create-board form input {
  font-size: 0.95em;
  background: none;
  border: none;
  border-bottom: 0.5px solid #666;
  border-radius: 0;
  color: whitesmoke;
  text-align: center;
  max-width: 100%;
}

.create-board form input[name="formEmoji"] {
  font-size: 3rem;
}

.create-board form button {
  font-size: 1.4em;
  font-weight: 600;
  padding: 12px 0;
  color: var(--nav-color);
  opacity: 1;
  transform: translateY(0);
  transition: color 0.2s, transform 0.2s, opacity 0.2s;
}

.create-board form button:disabled {
  color: rgb(50, 50, 50);
  opacity: 0;
  transform: translateY(10px);
}

.confirmation-dialog {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.confirmation-dialog p {
  margin-bottom: 4vh;
}
.confirmation-dialog .processed-emoji {
  font-size: 3rem;
}

.confirmation-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10vh;
}

.confirmation-options button {
  font-size: 1.3em;
  text-align: left;
  font-weight: 600;
  padding: 0;
  margin-right: 10vw;
}

.confirmation-options button:last-child {
  margin-right: 0;
}

.confirmation-options button[name="cancel"] {
  border-bottom: 4px solid rgb(150, 0, 0);
}

.confirmation-options button[name="confirm"] {
  border-bottom: 4px solid var(--nav-color);
}

.authForm > *:nth-child(2) {
  width: 90%;
  margin: 4vh auto;
}

.authForm form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  font-size: 1.1rem;
}

.authForm form label {
  margin-bottom: 2px;
  color: #666;
}

.authForm form input {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #666;
  font-size: 1.1em;
  color: whitesmoke;
  font-family: inherit;
  padding: 2px;
}

.authForm .form-error-container {
  min-height: 1.5em;
}

.authForm .form-error {
  margin-top: 0.5em;
  color: #666;
  font-size: 0.75em;
  text-shadow: 0px 0px 2px rgb(189, 0, 0);
}

.authForm button {
  font-size: 1.3em;
  color: var(--nav-color);
}

.authForm button[type="submit"] {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--nav-color);
  justify-self: flex-start;
  align-self: flex-end;
  margin-top: 2vh;
}

.authForm .switch {
  text-align: center;
  margin: 0 auto;
  margin-top: 15vh;
  border: 0.5px solid #666;
  padding: 16px;
  width: fit-content;
  border-radius: 6px;
}

.authForm .switch p {
  font-size: 1.1em;
  margin-bottom: 4px;
}

.sparkle {
  position: fixed;
  font-size: 10vw;
  user-select: none;
  pointer-events: none;
  transition: transform 0.6s, opacity 1.5s;
  z-index: 99;
}
